<article id="post-{{ post.id }}" class="{{ post.post_class }}">
        <h1>{{ post.title }}</h1>
        <div>{{ post.date }}</div>
    
        <div class="prose">{{ post.content }}</div>

</article><!-- #post-{{ post.id }} -->