{% if function('is_singular') %}
    <article id="post-{{ post.id }}" {{ function('post_class', ['mb-10', 'theme-light']) }}>

        {{ postHeader }}
        
        {{ post.content }}
        <!-- .entry-content -->
        
    </article><!-- #post-<?php the_ID(); ?> -->

{% else %}
    {% set featuredStory = featuredStory|default(false) %}
    {% set verticalAlign = 'flex flex-col justify-center' %}
    <article id="post-{{ post.id }}" class="grid gap-y-4 sm:gap-x-8 lg:gap-x-12 xl:gap-x-16 story-teaser {{ featuredStory ? 'story-teaser--featured' : '' }}">
        <div class="text-sm story-teaser__date text-tertiary-dark {{ featuredStory ? '' : '' }}">
            {% if featuredStory is not same as(true) %}
                <div class="hidden mb-1 lg:block">Posted</div>
            {% endif %}
            <div class="font-semibold">{{ post.date }}</div>
        </div>
        {# <div class="story-teaser__text {{ featuredStory ? '' : 'flex ' ~ verticalAlign }}"> #}
            <h3 class="story-teaser__title font-serif leading-none {{ featuredStory ? '' : 'text-[1.75rem]' }} ">
                <a class="text-primary-light hocus:underline" href="{{ post.link }}" rel="bookmark">{{ post.title }}</a>
            </h3>
            <div class="story-teaser__body">{{ post.preview }}</div>
        {# </div> #}
        <div class="story-teaser__image">
            <img class="object-top w-full h-auto"
                src="{{ image.src }}" alt="{{ image.alt }}." width="{{ image.width }}" height="{{ image.height }}">
        </div>
    </article>
{% endif %}