<div class="space-y-2">
    <div class="grid media-coverage-item-grid gap-x-4">
        <div class="">
            {% if image %}
                {{ image }}
            {% endif %}
        </div>

        <div class="space-y-1">
            {% if source %}
                <div class="text-xs uppercase">{{ source }}</div>
            {% endif %}

            {% set hTag = 'h' ~ hLevel|default(3) %}
            <{{ hTag }} class="leading-tight">
                <a href="{{ link.url }}" class="font-bold">{{ link.title }}</a>
            </{{ hTag }}>
        </div>

    {% if blurb %}
        <div class="col-start-2 media-coverage-blurb text-base-minus-2 sm:text-base descendant-a:text-inherit sm:descendant-a:text-inherit">{{ blurb }}</div>
    {% endif %}
</div>