{{ previewText }}
<div class="{{ wrapperClasses }} container-full px-0">
    {% if image %}
    <div class="mb-4 bg-black xl:mb-6 header-image">
        <figure class="w-full h-0 mx-auto overflow-hidden max-w-2400 aspect-w-14 aspect-h-5 3xl:aspect-h-4">
            {{ image }}
        </figure>
    </div>
    {% endif %}

    {{ sectionNav }}

    {% if breadcrumbs %}
        <div class="pt-4 lg:pt-6">{{ breadcrumbs }}</div>
    {% endif %}

    {{ pageTitle }}
</div>