{# required params are `image`, `url`, and `title` #}
<div class="flex flex-col space-y-1 text-base-minus-2">
    {% set clickableImage %}
        <div class="relative group">
            <div class="after:content-empty after:absolute after:inset-0 after:bg-black after:bg-opacity-20 group-hover:after:bg-opacity-10 after:transition-colors">
                {{ image }}
            </div>
            {% if withVideoLogo %}
                <div class="absolute transform -translate-x-1/2 -translate-y-1/2 border-2 border-white rounded-full left-1/2 top-1/2">
                    <svg class="fill-current text-white w-12 h-12 transform translate-x-[.125rem] scale-[85%]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="M128,96v320l256-160L128,96L128,96z"/></g></svg>
                </div>
            {% endif %}
        </div>
    {% endset %}

    {% include './linkify.twig' with {
        component: clickableImage,
        url: url
    } only %}

    {# need a `lg` option to make superhead 16px, title 22px, and description 18px #}
    {% if superhead.title %}
        <div class="pt-1 text-sm uppercase">
            {% if superhead.url %}
                <a href="{{ superhead.url }}" class="{# hover:text-gray-800 #}">{{ superhead.title }}</a>
            {% else %}
                {{ superhead.title }}
            {% endif %}            
        </div>
    {% endif %}

    {% set hTag = 'h' ~ hLevel|default(3) %}
    <{{ hTag }} class="font-bold"><a href="{{ url }}">{{ title }}</a></{{ hTag }}>

    {% if description %}
        <p>{{ description }}</p>
    {% endif %}
</div>