{{ siteHeader }}

{# should this be inside or outside `main.container`? #}

<main class="container space-y-16">
  {{ pageHeader }}

  {{ latest }}

  {{ followCTA }}{# just a placeholder for now b/c will be generated in WP(?) #}

  {{ videos }}

  {{ breakerFeature1 }}

  {{ mediaCoverageAndEvents }}

  {{ breakerFeature2 }}

  {{ editorsPicks }}

</main>

{{ siteFooter }}