<svg class="icon w-{{ width|default(20) }} h-{{ height|default(20) }}
            {{ classes|join(' ') }}
            fill-current">
            {% if title %}
                <title>{{ title }}</title>
            {% endif %}
    <use xlink:href="#{{ icon }}"></use>
</svg>
{% if hiddenText is not empty %}
    <span class="sr-only">{{ hiddenText }}</span>
{% endif %} {# hidden_text #}