<div class="{{ className }} teaser {% if horizontal %}teaser--horizontal{% endif %}
">
{% if url %}
    <a href="{{ url }}" class="group contents">
{% endif %}
        <div class="teaser__image 
            {% if horizontal is not same as(true) %}
                {{ itemSize == 'large' ? 'mb-3' : 'mb-2' }}
            {% endif %}
        ">
            <img src="{{ image.src }}" alt="" />
        </div>
        <div class="teaser__title font-semibold mb-1
            {% if horizontal is not same as(true) %}
                max-w-xs
            {% endif %}
          
                    {{ (itemSize == 'large') ? 'text-lg' : 'text-sm-plus-1' }}
                ">
            <span class="{% if external %}link-external{% endif %}
                        {% if url %}
                            transition-colors border-b border-current border-dotted group-hover:border-solid
                        {% endif %}">{{ title }}</span>
        </div>
{% if url %}
    </a>
{% endif %}
    <div class="text-sm teaser__body
            {% if horizontal is not same as(true) %}
                max-w-xs
            {% endif %}">
        {{ body }}
    </div>
</div>